<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/menus">Menus</a></li>
        <li><a href="/reservations">Réservations</a></li>
        <li><a href="/dashboard">Tableau de bord</a></li>
    </ul>
</nav>
